 <!--<section class="card">/*
  <h1 class="title"> Andy</h1>/*
  <img class="card-image" src="https://http2.mlstatic.com/bull-terrier-bullterrier-terier-D_NQ_NP_875458-MCO29058831411_122018-Q.jpg">
  <h3 class="description-title">Bullterrier</h3>
  <p class="description"style="color:red">My little pet!!!</p>
  </section>-->

  <p>
  Vamos a ver la variable iva: {{ iva }}
</p>
<p>
  Vamos a ver la variable total: {{ total }}
</p>
<p>
  Vamos a ver la variable mensaje: {{ mensaje }}
</p>
<p>
  Vamos a ver la variable nombreCompleto: {{ nombreCompleto }}
</p>
<p>
  Vamos a ver la variable dias: {{ dias }}
</p>
<p>
  Vamos a ver la variable diaSeleccionado: {{ diaSeleccionado }}
</p>
<p>
  Vamos a ver la variable personalInfo: {{ personalInfo }}
</p>
<p>
  Vamos a ver la variable soloApellido: {{ soloApellido }}
</p>

<p>
  Vamos a ver la variable estoyAprendiendo: {{ estoyAprendiendo }}
</p>
<p>
  Vamos a ver la variable meGustanLosVegetales: {{ meGustanLosVegetales }}
</p>